#three-recipes {
  height: 68vh;
}

#three-breweries {
  height: 68vh;
}

#hero {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(163, 111, 111, 0.5)
    ),
    url("../images/hero.jpg");
  background-size: cover;
  height: 100vh;
  text-align: center;
}

body {
  font-family: "Pathway Gothic One", sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  padding: 0 1rem;
}

header p {
  font-size: 25px;
}

.columns {
  margin-left: 0.25rem !important;
}
