/* make all font inside the body the one listed */
body {
  font-family: "Pathway Gothic One", sans-serif;
}

/* over ride bulma style */
.columns {
  margin-left: 0.25rem !important;
}

/* implement parallax effect with hero image */
#hero-parallax {
  background: linear-gradient(
    rgba(255, 255, 255, 0.5),
    rgba(163, 111, 111, 0.5)
  ),
  url("../images/hero.jpg");
  background-size: cover;
  /* Set a specific height */
  min-height: 100vh;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

/* style the header */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  padding: 0 1rem;
}

/* font size of header p elements */
header p {
  font-size: 25px;
}

#saved-recipes {
  font-family: "Pathway Gothic One", sans-serif;
}

.save-btn {
  font-family: "Pathway Gothic One", sans-serif;
}

@media screen and (max-width: 768px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (max-width: 321px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
  }
}