#three-recipes {
    height: 68vh;
}

#three-breweries {
    height: 68vh;
}

#hero {
    background-image: url("../images/elevate-snnhGYNqm44-unsplash.jpg");
    background-size: cover;
    height: 100vh;
}